// // &display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,regular,500,700,900,&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 24px; /* по умолчанию */
}
//========================================================================================================================================================
body {
	line-height: 1;
	font-family: "Roboto";
	color: #000000;
	background: #ffffff;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
[class*="__container"] {
	max-width: 1170px;
	margin: 0px auto;
	padding: 0 12px;
}
// $main-color: ;
// @media (max-width: 1140px) {
// 	[class*="__container"] {
// 		max-width: 970px;
// 	}
// }
// /* №2 */
// @media (max-width: 991.98px) {
// 	[class*="__container"] {
// 		max-width: 750px;
// 	}
// }
// /* №3 */
// @media (max-width: 767.98px) {
// 	[class*="__container"] {
// 		max-width: 500px;
// 	}
// }
button,
label {
	cursor: pointer;
}
input,
button {
	background: transparent;
}
// //========================================================================================================================================================

// //========================================================================================================================================================

.page {
	display: flex;
	flex: 1 1 100%;
	align-items: center;
	justify-content: center;
	background: #d4b5d0;
	transition: all 0.5s ease 0s;

	.dark-on & {
		background: #000;
	}
	// .page__main
	&__main {
		flex: 1 1 100%;
	}
}

//========================================================================================================================================================

.main-page {
	color: #fff;
	// .main-page__container
	&__container {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	// .main-page__weather
	&__weather {
		max-width: 600px;
		margin: 0 auto;
		min-height: 435px;
		display: flex;
		flex-direction: column;
	}
}

.timer {
	transition: all 0.5s ease 0s;
	.dark-on & {
		background: #000;
		color: #fff;
	}
	position: relative;
	max-width: 500px;
	max-height: 400px;
	margin: 0 auto;
	padding: 45px;
	background: #ffffff;
	color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	font-size: 30px;
	// .timer__text
	&__text {
	}
	// .timer__button
	&__button {
		max-width: 191px;
		width: 100%;
		border: 1px solid #000000;
		padding: 10px;
		border-radius: 5px;
		transition: all 0.5s ease 0s;
		.active-timer & {
			background: rgba(128, 51, 131, 0.349);
			color: #fff;
			border: 1px solid rgba(128, 51, 131, 0.349);
		}
		@media (any-hover: hover) {
			&:hover {
				background: #000;
				color: #fff;
			}
		}
		.dark-on & {
			opacity: 0;
			visibility: hidden;
		}
	}
	// .timer__inp
	&__inp {
		padding: 10px;
		border: 1px solid #000;
		max-width: 191px;
		width: 100%;
	}
	// .timer__theme
	&__theme {
		width: 35px;
		height: 20px;
		border-radius: 10px;
		position: absolute;
		top: 10px;
		right: 10px;
		border: 1px solid #000;
		background: #000;
		transition: all 0.5s ease 0s;
		&::before {
			transition: all 0.5s ease 0s;
			display: block;
			content: "";
			border-radius: 50%;
			width: 16px;
			height: 16px;
			background: #ffffff;
			transform: translateX(1px);
		}
		.dark-on & {
			border: 1px solid #ffffff;
			background: #ffffffda;
			color: #000;
			&::before {
				display: block;
				content: "";
				border-radius: 50%;
				width: 16px;
				height: 16px;
				background: #000000;
				transform: translateX(16px);
			}
		}
	}
}

//========================================================================================================================================================
